<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shadow_shield (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,819}</string>
                <key>spriteSourceSize</key>
                <string>{1024,819}</string>
                <key>textureRect</key>
                <string>{{0,0},{1024,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_shield (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,819}</string>
                <key>spriteSourceSize</key>
                <string>{1024,819}</string>
                <key>textureRect</key>
                <string>{{1024,3276},{1024,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_shield (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,819}</string>
                <key>spriteSourceSize</key>
                <string>{1024,819}</string>
                <key>textureRect</key>
                <string>{{1024,0},{1024,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_shield (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,819}</string>
                <key>spriteSourceSize</key>
                <string>{1024,819}</string>
                <key>textureRect</key>
                <string>{{0,819},{1024,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_shield (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,819}</string>
                <key>spriteSourceSize</key>
                <string>{1024,819}</string>
                <key>textureRect</key>
                <string>{{1024,819},{1024,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_shield (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,819}</string>
                <key>spriteSourceSize</key>
                <string>{1024,819}</string>
                <key>textureRect</key>
                <string>{{0,1638},{1024,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_shield (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,819}</string>
                <key>spriteSourceSize</key>
                <string>{1024,819}</string>
                <key>textureRect</key>
                <string>{{1024,1638},{1024,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_shield (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,819}</string>
                <key>spriteSourceSize</key>
                <string>{1024,819}</string>
                <key>textureRect</key>
                <string>{{0,2457},{1024,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_shield (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,819}</string>
                <key>spriteSourceSize</key>
                <string>{1024,819}</string>
                <key>textureRect</key>
                <string>{{1024,2457},{1024,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_shield (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,819}</string>
                <key>spriteSourceSize</key>
                <string>{1024,819}</string>
                <key>textureRect</key>
                <string>{{0,3276},{1024,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shadow_shield.png</string>
            <key>size</key>
            <string>{2048,4095}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c753a6adff5aeb4a540b72d2ba4fbf82:3cb1ad89ac88aa0270f68d27c598579b:db1815b1fe5dacfbdbcc8a90912ae50b$</string>
            <key>textureFileName</key>
            <string>shadow_shield.png</string>
        </dict>
    </dict>
</plist>
