<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Obelisk_effects_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{760,380},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{0,760},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{190,760},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{380,760},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{570,760},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{190,0},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{380,0},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{570,0},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{760,0},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{0,380},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{190,380},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{380,380},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_effects_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,380}</string>
                <key>spriteSourceSize</key>
                <string>{190,380}</string>
                <key>textureRect</key>
                <string>{{570,380},{190,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Obelisk_effects.png</string>
            <key>size</key>
            <string>{950,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be513ddc5bdfa289a6ba847a43773f6:d39fe2c5b3f381941b5a7a267a8e9073:836884fa1d2dc309f8c44d05e8479e96$</string>
            <key>textureFileName</key>
            <string>Obelisk_effects.png</string>
        </dict>
    </dict>
</plist>
