<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shadow_hurricane (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,326}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{0,0},{409,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_hurricane (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,326}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{409,0},{409,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_hurricane (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,326}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{818,0},{409,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_hurricane (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,326}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1227,0},{409,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_hurricane (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,326}</string>
                <key>spriteSourceSize</key>
                <string>{409,326}</string>
                <key>textureRect</key>
                <string>{{1636,0},{409,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shadow_hurricane.png</string>
            <key>size</key>
            <string>{2045,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca247cfb70a319780c6307198694f368:b5134dd5e0c355f275c07f4c0c447243:444a7070e4438222469a85a7fd95ffef$</string>
            <key>textureFileName</key>
            <string>shadow_hurricane.png</string>
        </dict>
    </dict>
</plist>
