<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>illumi_area (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,0},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,1023},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,1023},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,1023},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,1364},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,1364},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,1364},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,1705},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,1705},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,1705},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,2046},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,0},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,2046},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,2046},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,2387},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,2387},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,2387},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,2728},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,2728},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,2728},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,3069},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,3069},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,0},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,3069},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,3410},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,341},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,341},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,341},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,682},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,682},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,682},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>illumi_area.png</string>
            <key>size</key>
            <string>{1023,3751}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b39ed34cc9f493e4f1defe5548ddc1b:84cdd4001fe1c98832f77b88851de2a3:096ee43ac5cab7738308014a1b9b438f$</string>
            <key>textureFileName</key>
            <string>illumi_area.png</string>
        </dict>
    </dict>
</plist>
