<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_explode (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2049,683},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2732,683},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,683}</string>
                <key>spriteSourceSize</key>
                <string>{681,683}</string>
                <key>textureRect</key>
                <string>{{3415,683},{681,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{0,1366},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{683,1366},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{1366,1366},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2049,1366},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2732,1366},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,683}</string>
                <key>spriteSourceSize</key>
                <string>{681,683}</string>
                <key>textureRect</key>
                <string>{{3415,1366},{681,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{0,2049},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{683,0},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{683,2049},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{1366,2049},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2049,2049},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2732,2049},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,683}</string>
                <key>spriteSourceSize</key>
                <string>{681,683}</string>
                <key>textureRect</key>
                <string>{{3415,2049},{681,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{0,2732},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{683,2732},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{1366,2732},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{1366,0},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2049,0},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2732,0},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,683}</string>
                <key>spriteSourceSize</key>
                <string>{681,683}</string>
                <key>textureRect</key>
                <string>{{3415,0},{681,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{0,683},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{683,683},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_explode (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{1366,683},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dark_explode.png</string>
            <key>size</key>
            <string>{4096,3415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:504d00f41b3d4c8091b06325dd875c14:525b9bb343bcc4878155e1a2549b298e:581dca874fc919434c9fabc6c41b8c49$</string>
            <key>textureFileName</key>
            <string>dark_explode.png</string>
        </dict>
    </dict>
</plist>
