<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>illumi_graphs (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{0,0},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{3276,819},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{0,1638},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{819,1638},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{1638,1638},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{2457,1638},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{3276,1638},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{0,2457},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{819,2457},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{1638,2457},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{2457,2457},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{819,0},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{3276,2457},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{1638,0},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{2457,0},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{3276,0},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{0,819},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{819,819},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{1638,819},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_graphs (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,819}</string>
                <key>spriteSourceSize</key>
                <string>{819,819}</string>
                <key>textureRect</key>
                <string>{{2457,819},{819,819}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>illumi_graphs.png</string>
            <key>size</key>
            <string>{4095,3276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4073b517589ccecc4f1938324699f43d:173f6275143a9cfd9dd026e7200152e8:24fae207eacef785f0cb224d6b497bed$</string>
            <key>textureFileName</key>
            <string>illumi_graphs.png</string>
        </dict>
    </dict>
</plist>
