<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_hole (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{0,0},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2049,683},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2732,683},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,683}</string>
                <key>spriteSourceSize</key>
                <string>{681,683}</string>
                <key>textureRect</key>
                <string>{{3415,683},{681,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{0,1366},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{683,1366},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{1366,1366},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2049,1366},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2732,1366},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,683}</string>
                <key>spriteSourceSize</key>
                <string>{681,683}</string>
                <key>textureRect</key>
                <string>{{3415,1366},{681,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{0,2049},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{683,0},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{683,2049},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{1366,2049},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2049,2049},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2732,2049},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,683}</string>
                <key>spriteSourceSize</key>
                <string>{681,683}</string>
                <key>textureRect</key>
                <string>{{3415,2049},{681,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{0,2732},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{683,2732},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{1366,2732},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{1366,0},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2049,0},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{2732,0},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,683}</string>
                <key>spriteSourceSize</key>
                <string>{681,683}</string>
                <key>textureRect</key>
                <string>{{3415,0},{681,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{0,683},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{683,683},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_hole (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,683}</string>
                <key>spriteSourceSize</key>
                <string>{683,683}</string>
                <key>textureRect</key>
                <string>{{1366,683},{683,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dark_hole.png</string>
            <key>size</key>
            <string>{4096,3415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dc9d79b23dea31b4e39a5ccaf722fa6:04854319730a56be96e6a8cb9494d814:e4c963b6a8e1c267d54ac08654ea38d1$</string>
            <key>textureFileName</key>
            <string>dark_hole.png</string>
        </dict>
    </dict>
</plist>
