<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Obelisk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{190,0},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{0,1200},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{190,1200},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{0,1440},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{190,1440},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{0,240},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{190,240},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{0,480},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{190,480},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{0,720},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{190,720},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{0,960},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Obelisk_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,240}</string>
                <key>spriteSourceSize</key>
                <string>{190,240}</string>
                <key>textureRect</key>
                <string>{{190,960},{190,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Obelisk.png</string>
            <key>size</key>
            <string>{380,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5eb5bd031c8e7405bc81efc58614981:321a61d2d0ea45f5316f62baa2dccaf9:e7a1e84de55e1083bd907e83b800f707$</string>
            <key>textureFileName</key>
            <string>Obelisk.png</string>
        </dict>
    </dict>
</plist>
