<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_ball (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1024,2048},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{2048,2048},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{3072,2048},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1024,0},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{2048,0},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{3072,0},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{0,1024},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1024,1024},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{2048,1024},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{3072,1024},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_ball (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{0,2048},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dark_ball.png</string>
            <key>size</key>
            <string>{4096,3072}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df9a2b990bad47ed7c75fb56833860e6:9ab2bfd538c983f094267258d6e0594d:92483cca483ce3ed5c7454ecd82c37fa$</string>
            <key>textureFileName</key>
            <string>dark_ball.png</string>
        </dict>
    </dict>
</plist>
