<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rumble_area (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,340},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{1023,681},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{1364,681},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,340}</string>
                <key>spriteSourceSize</key>
                <string>{341,340}</string>
                <key>textureRect</key>
                <string>{{341,0},{341,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,1022},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,1022},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,1022},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{1023,1022},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{1364,1022},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,340}</string>
                <key>spriteSourceSize</key>
                <string>{341,340}</string>
                <key>textureRect</key>
                <string>{{682,0},{341,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,1363},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,340},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,1363},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,1363},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{1023,1363},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{1364,1363},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,340}</string>
                <key>spriteSourceSize</key>
                <string>{341,340}</string>
                <key>textureRect</key>
                <string>{{1023,0},{341,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,1704},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,1704},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,1704},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{1023,1704},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{1364,1704},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,340},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,340}</string>
                <key>spriteSourceSize</key>
                <string>{341,340}</string>
                <key>textureRect</key>
                <string>{{1364,0},{341,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,341}</string>
                <key>spriteSourceSize</key>
                <string>{340,341}</string>
                <key>textureRect</key>
                <string>{{1705,1704},{340,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{1023,340},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{1364,340},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,340}</string>
                <key>spriteSourceSize</key>
                <string>{341,340}</string>
                <key>textureRect</key>
                <string>{{0,0},{341,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{0,681},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{341,681},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rumble_area (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,341}</string>
                <key>spriteSourceSize</key>
                <string>{341,341}</string>
                <key>textureRect</key>
                <string>{{682,681},{341,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rumble_area.png</string>
            <key>size</key>
            <string>{2045,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa7aa7b3cf4215b319f063e7008e0eac:3174c0c4e20c783a2f3465ec6039b87b:c806f40c1a8db1a5dd19e8573d72dd75$</string>
            <key>textureFileName</key>
            <string>rumble_area.png</string>
        </dict>
    </dict>
</plist>
