<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Infernus_Corpse1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,384},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infernus_Corpse1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{0,128},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infernus_Corpse1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,480},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infernus_Corpse1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{0,256},{96,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infernus_Corpse1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infernus_Corpse1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,64}</string>
                <key>textureRect</key>
                <string>{{0,576},{128,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infernus_Corpse1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,64}</string>
                <key>spriteSourceSize</key>
                <string>{128,64}</string>
                <key>textureRect</key>
                <string>{{0,640},{128,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Infernus_Corpse1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,128}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Infernus_Corpse.png</string>
            <key>size</key>
            <string>{128,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1696de8cb82c05013b242ccc4f06fffc:0df51d243057192543b069b0514e8d39:9f68f47c240eedea9b038e7830e89ba0$</string>
            <key>textureFileName</key>
            <string>Infernus_Corpse.png</string>
        </dict>
    </dict>
</plist>
