<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>illumi_area3 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{1024,512},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{2048,512},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{3072,512},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{0,768},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{1024,768},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{2048,768},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{3072,768},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{0,1024},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{1024,1024},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{2048,1024},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{1024,0},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{3072,1024},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{2048,0},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{3072,0},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{1024,256},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{2048,256},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{3072,256},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>illumi_area3 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{0,512},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>illumi_area3.png</string>
            <key>size</key>
            <string>{4096,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aecccec019998bf93863799246c85eb6:c79b8b5aa00a39508572ee4477a113bc:336dfcc5dcf9debe77e24cc7ed1159a2$</string>
            <key>textureFileName</key>
            <string>illumi_area3.png</string>
        </dict>
    </dict>
</plist>
